*{
    padding: 0;
    margin: 0;
}
/******* nav bar *******/
nav{
    background-color: azure;
    position:fixed;
    width: 100%;
}
nav ul {
    display: flex;
    text-align: center;
    padding-left: 612px;
}
 
nav ul li{
    text-decoration: none;
    margin: 15px 20px;
    padding: 5px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}

header{
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
}

.text{
    text-align: right;
    margin : 250px;
}
